/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%) ;
    color: hsl(218, 44%, 22%);
    padding: 20;
}

/* Container styling */
.container {
    width: 100%;
    max-width: 375px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 18px;
    margin: auto;
}

/* Card content styling */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.qr-code-image {
    width: 100%;
    border-radius: 10px;
}

.text h2 {
    font-size: 15;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    /* margin-top: 20px; */
    line-height: 1.2;
}

.text {
    padding: 32px;
}
.text p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    margin-top: 16px;
    /* line-height: 1.6; */
}

/* Media query for larger screens (Desktop) */
@media (min-width: 1440px) {
    .container {
        max-width: 600;
    }
}