/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%) ;
    color: hsl(218, 44%, 22%);
    padding: 20;
}

/* Container styling */
.container {
    width: 320px;
    height: 499px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    padding-bottom: 40px;
}

/* Card content styling */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.qr-code-image {
    width: 100%;
    border-radius: 10px;
}

.text {
    padding-left: 16px;
    padding-right: 16px;
}

.text h1 {
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-top: 24px;
    line-height: 1.2;
    letter-spacing: 0px;
}


.text p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    margin-top: 16px;
    line-height: 1.4;
    letter-spacing: 0.2px;
}